<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
</br>

<h1> la liste des compagnies pour le vol {{vol_d}} est</h1>
</br>
<table border="1">
    <tr><td>nom compagnie</td>
    
        
    </tr>
{%for compagnie  in volid %}

    <tr>

        <td>{{compagnie.nom}}</td>
        


    </tr>
    {%endfor%}

</br>

</body>
</html>